.undefined{background-position: 0% 0%;}
.apps{background-position: 25% 0%;}
.ilearn2_128{background-position: 50% 0%;}
.courses{background-position: 75% 0%;}
.career{background-position: 100% 0%;}
.oic{background-position: 0% 25%;}
.o365{background-position: 25% 25%;}
.library{background-position: 50% 25%;}
.adsministrative{background-position: 75% 25%;}
.protfolio{background-position: 100% 25%;}
.notes_128{background-position: 0% 50%;}
.check{background-position: 25% 50%;}
.fcu{background-position: 50% 50%;}
.mymail{background-position: 75% 50%;}