.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
calendar {
  float: left;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: white;
  width: 250px;
  border: solid 1px #aaa;
  border-radius:3px;
  /*margin-bottom: 10px;*/
}
calendar.en {
  width: 260px;
}
calendar > div.header {
  float: left;
  width: 100%;
  /*background: #e3e3e3;*/
  height: 30px;
  color: #666;
}
calendar > div.header > * {
  height: 30px;
  line-height: 30px !important;
  display: inline-block;
  vertical-align: middle;
}
calendar > div.header > i {
  float: left;
  width: 40px;
  font-size: 1.125em;
  /*font-weight: bold;*/
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0 10px;
  cursor: pointer;
  font-style:normal;
}
calendar > div.header > i:hover {
	color:Black;
	border-color:#d6d6d6;
}
calendar > div.header > i.fa-angle-left {
  text-align: left;
}
calendar > div.header > i.fa-angle-left:hover {
	box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, .3);
}
calendar > div.header > i.fa-angle-right {
  text-align: right;
  margin-left: -40px;
}
calendar > div.header > i.fa-angle-right:hover {
	box-shadow: inset 10px 0 10px -10px rgba(0, 0, 0, .3);
}
calendar > div.header > span {
  float: left;
  width: 100%;
  /*font-weight: bold;*/
  text-transform: uppercase;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 50px;
  margin-left: -40px;
  text-align: center;
  padding-right: 40px;
  color: inherit;
  border-bottom: solid 1px #aaa;
}
calendar > div.week {
  float: left;
  width: 100%;
  /*border-top: solid 1px #aaa;*/
}
calendar > div.week:first-child {
  border-top: none;
}
calendar > div.week > span.day {
  float: left;
  width: 14.28571429%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*border-left: solid 1px #aaa;*/
  border: solid 1px #fff;
  font-size: 0.75em;
  text-align: center;
  height: 26px;
  line-height: 26px !important;
  display: inline-block;
  vertical-align: middle;
  background: white;
  cursor: pointer;
  color: #666;
}
calendar > div.week > span.day:first-child {
  /*border-left: none;*/
}
calendar > div.week > span.day.today {
  background: #E3F2FF;
}
calendar > div.week > span.day.different-month {
  color: #C0C0C0;
}
calendar > div.week > span.day.selected {
  background: #0088cc;
  color: white;
  font-weight:bold;
}

calendar > div.week.names {
	/*border-bottom:solid 1px #d6d6d6;*/
}

calendar > div.week.names > span {
  color: #0088cc;
  font-weight: bold;
  cursor:default;
  font-size:.9em;
}

calendar > div.week > span.day[class*=ng-binding]:not(.selected):hover {
	color:Black;
	background-color:#f1f1f1;
	border-color:#d6d6d6;
	box-shadow:inset 0 0 4px rgba(0,0,0,.1);
}