.loading {
	border: 2px solid #0088cc;
	border-top:2px solid white;
	/*border-right:0;*/
	height: 30px;
	width: 30px;
	margin:4px;
	border-radius: 50%;
	-webkit-animation: loading 1s infinite linear;
	-moz-animation: loading 1s infinite linear;
	-o-animation: loading 1s infinite linear;
	animation: loading 1s infinite linear;
}

@-webkit-keyframes loading {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes loading {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@-o-keyframes loading {
	from {
		-o-transform: rotate(0deg);
	}
	to {
		-o-transform: rotate(360deg);
	}
}
@keyframes loading {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}